:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #19aa31;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1b865d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


nav {
  background-color: rgb(97, 139, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000; 
  box-shadow: 0 4px 10px black; 
}


nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none; 
  font-size: 1em;
}


article {
  max-width: 75%;
  padding-left: 12.5%;
  margin: 20px auto;
}

article div {
  margin-bottom: 12px;
  text-align: left;
}


article button {
  display: block;
  background: none;
}
article button:hover {
  text-decoration: underline;
}

.singlebook {
  max-width: 800px;
  text-align: center;
}
img {
  max-width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form section,
.account-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
form section p,
.account-container p strong {
  left: 0;
}
form input:focus {
  border-color: blue;
}
form button:hover {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}